@import "./partial/bootstrap-override";

body {
  width: 100%;
  color: #fcfcfc;
  background-color: #1c1b1b;
}

.logo {
  width: 150px;
  display: block;
}

// .mainPage {
//   padding: 10px;
// }

.avatar {
  width: 50px;
  height: 50px;
}

.tvShows {
  font-weight: bold;
}

.imgW {
  width: 20%;
  height: auto;
}

.btnBorderNone {
  border-radius: unset;
}
.positionABS {
  position: absolute;
  left: -19px;
  bottom: 0;
}
.positionABS2 {
  position: absolute;
  left: -40px;
  bottom: 0px;
}
